In [7]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/tatianaflores/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in /Users/tatianaflores/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/tatianaflores/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Users/tatianaflores/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.1)
Requirement already satisfied: numpy>=1.22.4 in /Users/tatianaflores/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install pyspark findspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /Users/tatianaflores/Library/Python/3.9/lib/python/site-packages (3.5.5)
Requirement already satisfied: findspark in /Users/tatianaflores/Library/Python/3.9/lib/python/site-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.7 in /Users/tatianaflores/Library/Python/3.9/lib/python/site-packages (from pyspark) (0.10.9.7)
WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Import findspark and initialize.
import findspark
findspark.init()

In [35]:
import pandas as pd
df = pd.read_csv("/Users/tatianaflores/Desktop/home_sales_revised.csv")

In [72]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("HomeSales").getOrCreate()
df = spark.read.csv("/Users/tatianaflores/Desktop/home_sales_revised.csv", header=True, inferSchema=True)

df.createOrReplaceTempView("home_sales_df")

25/03/26 22:49:34 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [73]:
# 1. Read the home_sales_revised.csv from the provided AWS S3 bucket location into a PySpark DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [74]:
spark.sparkContext.addFile("https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv")

25/03/26 22:49:40 WARN SparkContext: The path https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv has been added already. Overwriting of added paths is not supported in the current version.

In [75]:
pd.read_csv("/Users/tatianaflores/Desktop/home_sales_revised.csv")

,id,date,date_built,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view
0,f8a53099-ba1c-47d6-9c31-7398aa8f6089,2022-04-08,2016,936923,4,3,3167,11733,2,1,76
1,7530a2d8-1ae3-4517-9f4a-befe060c4353,2021-06-13,2013,379628,2,2,2235,14384,1,0,23
2,43de979c-0bf0-4c9f-85ef-96dc27b258d5,2019-04-12,2014,417866,2,2,2127,10575,2,0,0
3,b672c137-b88c-48bf-9f18-d0a4ac62fb8b,2019-10-16,2016,239895,2,2,1631,11149,2,0,0
4,e0726d4d-d595-4074-8283-4139a54d0d63,2022-01-08,2017,424418,3,2,2249,13878,2,0,4
...,...,...,...,...,...,...,...,...,...,...,...
33282,c9586491-b7c9-41e9-93ae-d8e0a9f792d0,2019-05-20,2011,422922,3,3,1667,14548,2,0,44
33283,2ffb54d1-9ac7-4d78-95f3-7ba4cde42d9e,2021-04-13,2014,238605,3,2,1937,8906,1,0,30
33284,6f319eab-b34d-4179-8d68-6260670cad23,2021-05-11,2013,120781,4,3,1567,11864,1,0,44
33285,629575b0-915e-4173-8b24-be271918ca69,2021-12-21,2015,280919,2,2,2179,14934,2,0,29
33286,de706716-721a-42fb-b14c-14c65a84593f,2019-06-20,2011,398322,4,2,2119,12756,2,0,8

In [76]:
home_sales_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"))
home_sales_df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                 _c0|       _c1|       _c2|   _c3|     _c4|      _c5|        _c6|     _c7|   _c8|       _c9|_c10|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [77]:
# 2. Create a temporary view of the DataFrame.
home_sales_df.createOrReplaceTempView('home_sales')

# Initialize SparkSession
spark = SparkSession.builder.appName('home_sales').getOrCreate()

25/03/26 22:49:47 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [78]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("/Users/tatianaflores/Desktop/home_sales_revised.csv")

# Display the first few rows
print(df.head())

                                     id        date  date_built   price  \
0  f8a53099-ba1c-47d6-9c31-7398aa8f6089  2022-04-08        2016  936923
1  7530a2d8-1ae3-4517-9f4a-befe060c4353  2021-06-13        2013  379628
2  43de979c-0bf0-4c9f-85ef-96dc27b258d5  2019-04-12        2014  417866
3  b672c137-b88c-48bf-9f18-d0a4ac62fb8b  2019-10-16        2016  239895
4  e0726d4d-d595-4074-8283-4139a54d0d63  2022-01-08        2017  424418

   bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view
0         4          3         3167     11733       2           1    76
1         2          2         2235     14384       1           0    23
2         2          2         2127     10575       2           0     0
3         2          2         1631     11149       2           0     0
4         3          2         2249     13878       2           0     4

In [79]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
import pandas as pd

# Load the dataset
df = pd.read_csv("/Users/tatianaflores/Desktop/home_sales_revised.csv")

# Convert 'date' column to datetime format and extract year
df['year_sold'] = pd.to_datetime(df['date']).dt.year

# Filter for 4-bedroom houses
four_bed_df = df[df['bedrooms'] == 4]

# Group by year and calculate average price, rounded to 2 decimal places
avg_price_per_year = (
    four_bed_df.groupby('year_sold')['price']
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={'price': 'average_price'})
)

# Display the result
print(avg_price_per_year)

   year_sold  average_price
0       2019      300263.70
1       2020      298353.78
2       2021      301819.44
3       2022      296363.88

In [80]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?

# Filter for homes with 3 bedrooms and 3 bathrooms
filtered_df = df[(df['bedrooms'] == 3) & (df['bathrooms'] == 3)]

# Group by year the home was built and calculate average price
avg_price_per_year_built = (
    filtered_df.groupby('date_built')['price']
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={'price': 'average_price'})
)

# Display the result
print(avg_price_per_year_built)

   date_built  average_price
0        2010      292859.62
1        2011      291117.47
2        2012      293683.19
3        2013      295962.27
4        2014      290852.27
5        2015      288770.30
6        2016      290555.07
7        2017      292676.79

In [81]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?

# Filter the DataFrame based on the conditions
filtered_df = df[
    (df['bedrooms'] == 3) &
    (df['bathrooms'] == 3) &
    (df['floors'] == 2) &
    (df['sqft_living'] >= 2000)
]

# Group by year the home was built and calculate average price
avg_price = (
    filtered_df.groupby('date_built')['price']
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={'price': 'average_price'})
)

# Display the result
print(avg_price)

   date_built  average_price
0        2010      285010.22
1        2011      276553.81
2        2012      307539.97
3        2013      303676.79
4        2014      298264.72
5        2015      297609.97
6        2016      293965.10
7        2017      280317.58

In [82]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

# Start the timer
start_time = time.time()

# Group by 'view', calculate average price, filter, round, and sort
avg_price_by_view = (
    df.groupby('view')['price']
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={'price': 'average_price'})
)

# Filter for average price >= 350,000
filtered_result = avg_price_by_view[avg_price_by_view['average_price'] >= 350000]

# Sort by view in descending order
filtered_result = filtered_result.sort_values(by='view', ascending=False)

# End the timer
end_time = time.time()
runtime = end_time - start_time

# Display the results
print(filtered_result)
print(f"\nQuery runtime: {runtime:.4f} seconds")



print("--- %s seconds ---" % (time.time() - start_time))

     view  average_price
100   100     1026669.50
99     99     1061201.42
98     98     1053739.33
97     97     1129040.15
96     96     1017815.92
95     95     1054325.60
94     94     1033536.20
93     93     1026006.06
92     92      970402.55
91     91     1137372.73
90     90     1062654.16
89     89     1107839.15
88     88     1031719.35
87     87     1072285.20
86     86     1070444.25
85     85     1056336.74
84     84     1117233.13
83     83     1033965.92
82     82     1063498.00
81     81     1053472.79
80     80      991767.38
79     79     1009565.08
78     78     1080649.37
77     77     1076205.56
76     76     1058802.78
75     75     1114042.94
74     74      745077.00
73     73      752861.18
72     72      780914.67
71     71      775651.10
70     70      695865.58
69     69      750537.94
68     68      716785.44
67     67      737970.96
66     66      712475.00
65     65      736679.93
64     64      767036.67
63     63      711614.55
62     62      759150.14
61     61      746877.59
60     60      754939.65
59     59      791453.00
58     58      759764.65
57     57      734340.50
56     56      718176.40
55     55      771153.32
54     54      798684.82
53     53      755214.80
52     52      733780.26
51     51      788128.21

Query runtime: 0.0118 seconds
--- 0.02477407455444336 seconds ---

In [83]:
# 7. Cache the the temporary table home_sales.
spark.catalog.cacheTable("home_sales")

25/03/26 22:50:05 WARN CacheManager: Asked to cache already cached data.

In [84]:
# run a query to trigger the cache
spark.sql("SELECT * FROM home_sales LIMIT 5").show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                 _c0|       _c1|       _c2|   _c3|     _c4|      _c5|        _c6|     _c7|   _c8|       _c9|_c10|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+

In [85]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [97]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, round
import time

# Start Spark session
spark = SparkSession.builder.appName("HomeSalesQuery").getOrCreate()

# Load CSV as PySpark DataFrame
df = spark.read.csv("/Users/tatianaflores/Desktop/home_sales_revised.csv", header=True, inferSchema=True)

# Register as temp view
df.createOrReplaceTempView("home_sales")

# -------------------------------------------
# Uncached Query Runtime
# -------------------------------------------
start_uncached = time.time()

uncached_result = spark.sql("""
    SELECT view, ROUND(AVG(price), 2) AS average_price
    FROM home_sales
    GROUP BY view
    HAVING average_price >= 350000
    ORDER BY view DESC
""")
uncached_result.show()

end_uncached = time.time()
uncached_runtime = end_uncached - start_uncached
print(f"⏱ Uncached query runtime: {uncached_runtime:.4f} seconds")


# -------------------------------------------
# Cache the view
# -------------------------------------------
spark.catalog.cacheTable("home_sales")

# Run a small query to "warm up" the cache
spark.sql("SELECT * FROM home_sales LIMIT 1").collect()

start_cached = time.time()

cached_result = spark.sql("""
    SELECT view, ROUND(AVG(price), 2) AS average_price
    FROM home_sales
    GROUP BY view
    HAVING average_price >= 350000
    ORDER BY view DESC
""")
cached_result.show()

end_cached = time.time()
cached_runtime = end_cached - start_cached
print(f"⚡ Cached query runtime: {cached_runtime:.4f} seconds")

+----+-------------+
|view|average_price|
+----+-------------+
| 100|    1026669.5|
|  99|   1061201.42|
|  98|   1053739.33|
|  97|   1129040.15|
|  96|   1017815.92|
|  95|    1054325.6|
|  94|    1033536.2|
|  93|   1026006.06|
|  92|    970402.55|
|  91|   1137372.73|
|  90|   1062654.16|
|  89|   1107839.15|
|  88|   1031719.35|
|  87|    1072285.2|
|  86|   1070444.25|
|  85|   1056336.74|
|  84|   1117233.13|
|  83|   1033965.93|
|  82|    1063498.0|
|  81|   1053472.79|
+----+-------------+
only showing top 20 rows

⏱ Uncached query runtime: 1.2468 seconds
+----+-------------+
|view|average_price|
+----+-------------+
| 100|    1026669.5|
|  99|   1061201.42|
|  98|   1053739.33|
|  97|   1129040.15|
|  96|   1017815.92|
|  95|    1054325.6|
|  94|    1033536.2|
|  93|   1026006.06|
|  92|    970402.55|
|  91|   1137372.73|
|  90|   1062654.16|
|  89|   1107839.15|
|  88|   1031719.35|
|  87|    1072285.2|
|  86|   1070444.25|
|  85|   1056336.74|
|  84|   1117233.13|
|  83|   1033965.93|
|  82|    1063498.0|
|  81|   1053472.79|
+----+-------------+
only showing top 20 rows

⚡ Cached query runtime: 0.3540 seconds

In [102]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data

# Start Spark session
spark = SparkSession.builder.appName("PartitionByDateBuilt").getOrCreate()

# Load the CSV as PySpark DataFrame (if not already loaded)
df = spark.read.csv("/Users/tatianaflores/Desktop/home_sales_revised.csv", header=True, inferSchema=True)

# Write to Parquet, partitioned by 'date_built'
df.write.mode("overwrite") \
    .partitionBy("date_built") \
    .parquet("/Users/tatianaflores/Desktop/home_sales_partitioned")

In [103]:
# 11. Read the formatted parquet data.
parquet_df = spark.read.parquet("Users/tatianaflores/Desktop/home_sales_partitioned")

In [104]:
# 12. Create a temporary table for the parquet data.
parquet_df.printSchema()
parquet_df.show()

root
 |-- id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- price: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)
 |-- date_built: integer (nullable = true)

+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|      2015|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|      2015|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|      2015|
|a18515a2-86f3-46b...|2022-02-18|419543|       3|        2|       1642|   12826|     2|         0|  24|      2015|
|98f6a9ad-8870-474...|2022-05-07|136752|       2|        3|       1701|   10771|     2|         0|   5|      2015|
|7ac67498-b6f3-403...|2021-05-12|349318|       4|        3|       2417|   11304|     2|         0|  37|      2015|
|c9bfdb1c-2499-4e3...|2021-12-07|268874|       2|        2|       1537|   12177|     1|         0|  10|      2015|
|34c31a34-220d-469...|2019-02-06|409011|       3|        3|       2356|   10507|     1|         0|   1|      2015|
|be0ccb95-415d-411...|2020-05-15|425154|       4|        3|       2120|   14229|     2|         0|   4|      2015|
|e9031a86-1294-444...|2021-10-09|222322|       4|        3|       1928|   10510|     1|         0|  38|      2015|
|e6d7c2a7-596e-4ec...|2019-03-15|131201|       4|        3|       1633|   14655|     1|         0|  22|      2015|
|6683714b-3df7-454...|2022-02-01|333403|       4|        2|       2059|    9793|     2|         0|   4|      2015|
|00fc996f-508c-430...|2021-07-15|373139|       3|        3|       1763|   11363|     1|         0|  39|      2015|
|3d5545f8-bd3b-476...|2020-09-19|797862|       4|        6|       3494|   10385|     2|         0|  90|      2015|
|ec6d357c-2435-43e...|2019-05-28|401792|       3|        2|       1627|   10765|     1|         0|  50|      2015|
|c2be38fb-814a-403...|2020-03-20|352237|       3|        3|       2485|   10954|     2|         0|   6|      2015|
|9570de1f-5a74-45b...|2021-11-29|298453|       3|        2|       2222|   10634|     1|         0|   6|      2015|
|1baeff4f-fc00-489...|2020-12-17|152775|       3|        2|       1623|   13851|     1|         0|  41|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 20 rows

In [107]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.


# Start Spark session
spark = SparkSession.builder.appName("ParquetQueryComparison").getOrCreate()

# Read the partitioned Parquet data
parquet_df = spark.read.parquet("/Users/tatianaflores/Desktop/home_sales_partitioned")

# Register the parquet DataFrame as a temp view (optional but useful for SQL)
parquet_df.createOrReplaceTempView("parquet_home_sales")


start_time = time.time()
parquet_result = spark.sql("""
    SELECT view, ROUND(AVG(price), 2) AS average_price
    FROM parquet_home_sales
    GROUP BY view
    HAVING average_price >= 350000
    ORDER BY view DESC
""")

parquet_result.show()

end_parquet = time.time()
parquet_runtime = end_parquet - start_time
print(f"📦 Parquet query runtime: {parquet_runtime:.4f} seconds")

print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|average_price|
+----+-------------+
| 100|    1026669.5|
|  99|   1061201.42|
|  98|   1053739.33|
|  97|   1129040.15|
|  96|   1017815.92|
|  95|    1054325.6|
|  94|    1033536.2|
|  93|   1026006.06|
|  92|    970402.55|
|  91|   1137372.73|
|  90|   1062654.16|
|  89|   1107839.15|
|  88|   1031719.35|
|  87|    1072285.2|
|  86|   1070444.25|
|  85|   1056336.74|
|  84|   1117233.13|
|  83|   1033965.93|
|  82|    1063498.0|
|  81|   1053472.79|
+----+-------------+
only showing top 20 rows

📦 Parquet query runtime: 0.3251 seconds
--- 0.3253288269042969 seconds ---

In [109]:
# Compare performance
cached_runtime = 0.32

print(f"\n⚖️  Cached vs Parquet comparison:")
print(f"    Cached runtime  : {cached_runtime:.4f} seconds")
print(f"    Parquet runtime : {parquet_runtime:.4f} seconds")
print(f"    Difference      : {parquet_runtime - cached_runtime:.4f} seconds")
print(f"    Parquet is {parquet_runtime / cached_runtime:.2f}x slower/faster than cached")

⚖️  Cached vs Parquet comparison:
    Cached runtime  : 0.3200 seconds
    Parquet runtime : 0.3251 seconds
    Difference      : 0.0051 seconds
    Parquet is 1.02x slower/faster than cached

In [110]:
# 14. Uncache the home_sales temporary table.

spark.catalog.uncacheTable("home_sales")

In [111]:
# 15. Check if the home_sales is no longer cached
print(spark.catalog.isCached("home_sales"))  # Should return False after uncache

False